* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 500px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  color: black;
}

.author {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #888;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 1rem;
}

.author:hover {
  color: #fff;
}


#switchButton {
  font-weight: bold;
  background-color: transparent;
  color: black;
  border: none; 
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#switchButton:hover {
  color: #001d6b;
  transform: scale(1.2)
}


#conversionType {
  font-size: 1rem;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  background-color: #ffffff;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  color: white;
  background-color: #001d6b;
}

.result {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.explanation {
  font-size: 0.95rem;
  color: #666;
}

@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 20px;
  }

  input,
  button {
    font-size: 14px;
    padding: 8px;
  }

  h1 {
    font-size: 24px;
  }

  .author {
    font-size: 14px;
  }
}